{% block content %}
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% if current_user.is_authenticated %}
        <h1>Hello {{ current_user.id }}!</h1>
        <h2>Select a Course</h2>
        <form action="/index" method="post">
            {{ form.hidden_tag() }}
        <p>
            {{ form.sessions.label }}<br>
            {{ form.sessions }}
        </p>
        <p>
            {{ form.subject_code.label }}<br>
            {{ form.subject_code (size=32) }}
        </p>
        <p>
            {{ form.course_num.label }}<br>
            {{ form.course_num (size=32) }}
        </p>
        <p>
            {{ form.section.label }}<br>
            {{ form.section (size=32) }}
        </p>
        <p>
            {{ form.submit () }}
        </p>
        {% endif %}
    </body>
</html>
{% endblock %}



